In [1]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
partNoPath="E:\CarWorkz\DataUpdates\Data Analysis\db_workshop.PartNumber.csv"
db_partNo=pd.read_csv(partNoPath)
db_partNo.head()

C:\Users\23165948\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,brandId,fuelType,makeSlug,modelSlug,partId,partNumber,variantCode
0,1514390588002928,universal,universal,universal,C005,FFPRMFOL021,NaN
1,1514390588002928,universal,universal,universal,C005,FFPRMFOL010,NaN
2,1514390588002928,Diesel,universal,universal,C005,FFPRMFOL005,NaN
3,1514390588002928,universal,universal,universal,C006,FFPRMFOL018,NaN
4,1514390588002928,universal,universal,universal,C008,FFPRMFOL030,NaN

In [3]:
partRatePath="E:\CarWorkz\DataUpdates\Data Analysis\db_workshop.PartRate.csv"
db_partRate=pd.read_csv(partRatePath)
db_partRate.head()

C:\Users\23165948\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,1,3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,assemblyGroup.0,assemblyGroup.1,brandId,category,description,isOEM,partIds.0,partNumber,partableId,partableType,purchasePrice,quantity,sellingPrice,type,unit,vehicleType,volume
0,NaN,NaN,1514390588002928,NaN,SN 5W-40 26 LTR,NaN,C005,FFPRMFOL021,1.514390e+15,WorkshopCluster,352.37,26.0,899.0,NaN,LTS,cars,26.0
1,NaN,NaN,1514390588002928,NaN,SM/CF 5W-30 55 LTR,NaN,C005,FFPRMFOL010,1.514390e+15,WorkshopCluster,165.46,55.0,326.0,NaN,LTS,cars,55.0
2,NaN,NaN,1514390588002928,NaN,CI4 SAE 15W40 210 LTR,NaN,C005,FFPRMFOL005,1.514390e+15,WorkshopCluster,129.14,210.0,310.0,NaN,LTS,cars,210.0
3,NaN,NaN,1514390588002928,NaN,GO GL-4 EP 80W90 26 LTR,NaN,C006,FFPRMFOL018,1.514390e+15,WorkshopCluster,149.93,26.0,250.0,NaN,LTS,cars,26.0
4,NaN,NaN,1514390588002928,NaN,PRIVATE LABEL BRAKE OIL DOT 4,False,C008,FFPRMFOL030,1.514390e+15,SYSTEM,0.00,1.0,109.0,Fluid,UNT,cars,1.0

In [4]:
brandPath="E:\CarWorkz\DataUpdates\Data Analysis\db_workshop.Brand.csv"
db_brand=pd.read_csv(brandPath)
db_brand.head()

,_id,createdOn,name,ownerType,status,updatedOn,vehicleType
0,1511956351366698,2017-11-29T11:52:31.366Z,MFCS,SYSTEM,INACTIVE,2018-05-10T13:19:29.052Z,cars
1,1511956351871119,2017-11-29T11:52:31.871Z,Purolator,SYSTEM,ACTIVE,2018-05-10T13:17:10.075Z,cars
2,1511956782289641,2017-11-29T11:59:42.289Z,Mahindra,SYSTEM,ACTIVE,2018-05-10T13:17:10.075Z,cars
3,1511956783212386,2017-11-29T11:59:43.212Z,NGK,SYSTEM,ACTIVE,2018-05-10T13:17:10.075Z,cars
4,1511956783419865,2017-11-29T11:59:43.419Z,Universal,SYSTEM,ACTIVE,2018-05-10T13:17:10.075Z,cars

In [10]:
db_partNo.replace(db_brand.set_index('_id').to_dict()['name'],inplace=True)

In [11]:
#db_partNo['brandName'] = db_partNo['brandId'].map(db_brand.set_index('_id').to_dict()['name'])
db_partNo.head()

  brandId   fuelType   makeSlug  modelSlug partId   partNumber variantCode
0     MFC  universal  universal  universal   C005  FFPRMFOL021         NaN
1     MFC  universal  universal  universal   C005  FFPRMFOL010         NaN
2     MFC     Diesel  universal  universal   C005  FFPRMFOL005         NaN
3     MFC  universal  universal  universal   C006  FFPRMFOL018         NaN
4     MFC  universal  universal  universal   C008  FFPRMFOL030         NaN

In [25]:

db_partRate['brandName'] = db_partRate['brandId'].map(db_brand.set_index('_id').to_dict()['name'])
db_partRate.head()

,assemblyGroup.0,assemblyGroup.1,brandId,category,description,isOEM,partIds.0,partNumber,partableId,partableType,purchasePrice,quantity,sellingPrice,type,unit,vehicleType,volume,brandName
0,NaN,NaN,1514390588002928,NaN,SN 5W-40 26 LTR,NaN,C005,FFPRMFOL021,1.514390e+15,WorkshopCluster,352.37,26.0,899.0,NaN,LTS,cars,26.0,MFC
1,NaN,NaN,1514390588002928,NaN,SM/CF 5W-30 55 LTR,NaN,C005,FFPRMFOL010,1.514390e+15,WorkshopCluster,165.46,55.0,326.0,NaN,LTS,cars,55.0,MFC
2,NaN,NaN,1514390588002928,NaN,CI4 SAE 15W40 210 LTR,NaN,C005,FFPRMFOL005,1.514390e+15,WorkshopCluster,129.14,210.0,310.0,NaN,LTS,cars,210.0,MFC
3,NaN,NaN,1514390588002928,NaN,GO GL-4 EP 80W90 26 LTR,NaN,C006,FFPRMFOL018,1.514390e+15,WorkshopCluster,149.93,26.0,250.0,NaN,LTS,cars,26.0,MFC
4,NaN,NaN,1514390588002928,NaN,PRIVATE LABEL BRAKE OIL DOT 4,False,C008,FFPRMFOL030,1.514390e+15,SYSTEM,0.00,1.0,109.0,Fluid,UNT,cars,1.0,MFC

In [12]:
db_partNo.columns

Index(['brandId', 'fuelType', 'makeSlug', 'modelSlug', 'partId', 'partNumber',
       'variantCode'],
      dtype='object')

In [13]:
db_partNo[["makeSlug","partNumber"]].groupby(["makeSlug"]).count()

                       partNumber
makeSlug
bikes-bajaj                  4223
bikes-hero                  37805
bikes-hero-honda             1268
bikes-honda                 14767
bikes-kawasaki-bajaj            2
bikes-kinetic                   1
bikes-mahindra               6231
bikes-royal-enfield             4
bikes-suzuki                   15
bikes-tvs                    1638
bikes-tvs-suzuki                3
bikes-universal                13
bikes-yamaha                   18
cars-chevrolet                492
cars-fiat                      30
cars-ford                  683138
cars-gm                       571
cars-honda                    183
cars-hyundai               767294
cars-mahindra              339499
cars-mahindra-renault       59913
cars-maruti-suzuki         733984
cars-nissan                 65990
cars-renault               212548
cars-skoda                    250
cars-tata                  704673
cars-toyota                  1327
cars-volkswagen               183
universal                      98

In [80]:
db_partNo[["makeSlug","modelSlug","partNumber"]].groupby(["makeSlug","modelSlug"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartNobyModel.xlsx")

In [94]:
db_partNo[["makeSlug","modelSlug","variantCode"]].groupby(["makeSlug","modelSlug","variantCode"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\Variants.xlsx")

In [26]:
db_partRate.columns

Index(['assemblyGroup.0', 'assemblyGroup.1', 'brandId', 'category',
       'description', 'isOEM', 'partIds.0', 'partNumber', 'partableId',
       'partableType', 'purchasePrice', 'quantity', 'sellingPrice', 'type',
       'unit', 'vehicleType', 'volume', 'brandName'],
      dtype='object')

In [36]:
db_partRate["isPrice"]=1
db_partRate.head()

,assemblyGroup.0,assemblyGroup.1,brandId,category,description,isOEM,partIds.0,partNumber,partableId,partableType,purchasePrice,quantity,sellingPrice,type,unit,vehicleType,volume,brandName,isPrice
0,NaN,NaN,1514390588002928,NaN,SN 5W-40 26 LTR,NaN,C005,FFPRMFOL021,1.514390e+15,WorkshopCluster,352.37,26.0,899.0,NaN,LTS,cars,26.0,MFC,1
1,NaN,NaN,1514390588002928,NaN,SM/CF 5W-30 55 LTR,NaN,C005,FFPRMFOL010,1.514390e+15,WorkshopCluster,165.46,55.0,326.0,NaN,LTS,cars,55.0,MFC,1
2,NaN,NaN,1514390588002928,NaN,CI4 SAE 15W40 210 LTR,NaN,C005,FFPRMFOL005,1.514390e+15,WorkshopCluster,129.14,210.0,310.0,NaN,LTS,cars,210.0,MFC,1
3,NaN,NaN,1514390588002928,NaN,GO GL-4 EP 80W90 26 LTR,NaN,C006,FFPRMFOL018,1.514390e+15,WorkshopCluster,149.93,26.0,250.0,NaN,LTS,cars,26.0,MFC,1
4,NaN,NaN,1514390588002928,NaN,PRIVATE LABEL BRAKE OIL DOT 4,False,C008,FFPRMFOL030,1.514390e+15,SYSTEM,0.00,1.0,109.0,Fluid,UNT,cars,1.0,MFC,1

In [42]:
db_partRate.loc[db_partRate['sellingPrice']==0,'isPrice']=0

assemblyGroup.0    163467
assemblyGroup.1    163467
brandId            191777
category                0
description        190960
isOEM              191777
partIds.0            5552
partNumber         191776
partableId              1
partableType       191777
purchasePrice      191777
quantity           191777
sellingPrice       191777
type               125774
unit               191776
vehicleType        191777
volume             191777
brandName          191777
isPrice            191777
dtype: int64

In [82]:
db_partRate[["brandName","partNumber"]].groupby(["brandName"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartbyMake.xlsx")

In [83]:
db_partRate[(db_partRate["vehicleType"]=="bikes")][["brandName",'partNumber']].groupby(["brandName"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartbyMake.xlsx")

In [87]:
db_partRate[(db_partRate["vehicleType"]=="bikes")][["brandName",'partNumber','partIds.0']].groupby(["brandName"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartIds.xlsx")

In [88]:
db_partRate[(db_partRate["vehicleType"]=="bikes")][["brandName",'partNumber',"isPrice"]].groupby(["brandName","isPrice"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartPrice.xlsx")

In [27]:
db_partNo.groupby(["makeSlug","modelSlug","variantCode"]).count().to_excel("E:\CarWorkz\DataUpdates\Data Analysis\PartNumberAnalysis.xlsx")